.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 2rem;
  animation: login-appear 1s ease-out forwards;
}

.actions {
  text-align: center;
}


.register p {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

@keyframes login-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  font: inherit;
  border: 1px solid #1a191a;
  background: #d8b29a;
  color: white;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1.05rem;
  margin-top: 5px;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

button:hover,
button:active {
  background: #f1eef1;
  border-color: #d1cdd2;
  transform: scale(1.02);
  color: black;
}

button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #ac9b9b;
  cursor: not-allowed;
}